<div class="row center-align">
  <div>
    <p>Till Tax | Saint Paul, MN | Shelly J Till | ShellyJTill@TillTax.com</p>
  </div>
<!--

  <div class="col s12 m6 l3">
    <p> </p>
  </div>
  <div class="col s12 m6 l3">
    <p> </p>
  </div>
  <div class="col s12 m6 l3">
    <p> </p>
  </div>
-->
</div>

<div class='center-align'>
  <a href="https://facebook.com"
     title="facebook"
     target="_blank">
    {{fa-icon "facebook-official" size=3}}
  </a>

  <a href="https://www.instagram.com"
     title="instagram"
     target="_blank">
    {{fa-icon "instagram" size=3}}
  </a>

  <a href="https://twitter.com"
     title="twitter"
     target="_blank">
    {{fa-icon "twitter" size=3}}
  </a>
</div>

{{#md-copyright text='Till Tax' startyear=2017}}
  <span class="right">Website created by AlienCyborg</span>
{{/md-copyright}}
