body {
  background-color: $background-color;
  color: $primary-color;
  padding: 15px;
}

.center {
  text-align: center;
}

.strong {
  font-weight: bold;
}

.justify {
  text-align: justify;
}

.logo {
  margin-top: 1.5rem;
}

.main-title h1, h5 {
  margin: 1.5rem 0;
}

.row.main {
  margin-bottom: 0;
}

ul.about-list {
  li {
    list-style-type: square;
  }
}

.contact-card {
  .card-title {
    font-weight: bold;
  }
}

.step-cards {
  .card-title {
    font-weight: bold;
  }
}

nav {
  background-color: $nav-bg-color;
}

footer.page-footer {
  background-color: $nav-bg-color;

  margin-top: 20px;

  .container {
    width: 90%;
  }
}
