body {
  background-color: $background-color;
  color: $primary-color;
  padding: 15px;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.logo {
  padding: 1rem;
}

nav {
  background-color: $nav-bg-color;
}

footer.page-footer {
  background-color: $nav-bg-color;

  margin-top: 20px;

  .container {
    width: 90%;
  }
}
