@import "components/color";

// Materialize Overrides
$primary-color: black;
$secondary-color: color("blue-grey", "darken-4");
// $link-color: $nutmeg-finish;

// Custom
$background-color: white;
$nav-bg-color: color("brown", "base");
