<h3>Shelly's Story</h3>

<div class="row">
  <div class="col s12 m6">
    <div class="center-align">
      <h3>Big Bold Image</h3>
    </div>
  </div>

  <div class="col s12 m6">
    <p class="flow-text">
      Shelly J Till spent two decades in financial printing and corporate compliance. She is currently

      completing both a major in Accounting, with a focus on tax, and a major in Finance at the University

      of Minnesota, Crookston. She will complete the University's Tax Certificate program in early 2017, at

      which time she will be qualified to sit for the Internal Revenue Service's Registered Tax Return

      Preparer test. Successful completion of this test earns the tax preparer the IRS' highest credential of

      Enrolled Agent and allows them the privilege of representing taxpayers before the IRS.

      Shelly is also a CRLA-Certified University of Minnesota tutor, so can discuss your tax forms with clarity.

      She enjoys tax and intends to further her education with a Masters in Business Taxation from the

      Carlson School of Management.

      Shelly is currently employed with a prestigious accounting firm in the north-eastern metro area doing

      tax prep and accounting. She plans to use her education and experience to better serve the tax and

      financial needs of individuals and small businesses in the underserved north-western metro

      communities.    </p>

    <blockquote>
      <em>“Endorsement of Praise!”</em>
      <br>
      <br>
      — Person of Note
    </blockquote>
  </div>
</div>
