<h3>Shelly's Story</h3>

<div class="row">
  <div class="col s12 m6">
    <div class="center-align">
      <h3>Big Bold Image</h3>
    </div>
  </div>

  <div class="col s12 m6">
    <p class="flow-text">
    Backstory...
    </p>

    <blockquote>
      <em>“Endorsement of Praise!”</em>
      <br>
      <br>
      — Person of Note
    </blockquote>
  </div>
</div>
