<h4>Shelly J. Till</h4>

<div class='row'>
  <div class='col s4 m2'>
    <img class='responsive-img'
      src='/assets/images/shelly.png'
      title='Shelly J Till'>
  </div>

  <div class='col s12 m10'>
    <ul class='about-list'>
      <li>IRS Registered Tax Return Preparer listed in
        <a href='https://irs.treasury.gov/rpo/rpo.jsf' target='_blank'>
          <em>Directory of Federal Tax Return Preparers with Credentials and Select Qualifications</em>
        </a>
      </li>
      <li>IRS PTIN holder</li>
      <li>2018 Filing Season participant with the MN Revenue Volunteer Income Tax Assistance and Tax
        Counseling for the Elderly programs (VITA/TCE)</li>
      <li>Certificate of Taxation graduate, University of MN - Crookston</li>
      <li>Accounting major, University of MN - Crookston</li>
      <li>Finance minor, University of MN - Crookston</li>
      <li>CRLA-Certified tutor, University of MN - Crookston</li>
      <li>Completing season two preparing federal, state, and MN property tax returns</li>
      <li>Specializing in tax preparation for daycare providers and military personnel, including the Armed Forces,
          Reserve, and National Guard</li>
      <li>Full-time accountant</li>
    </ul>
  </div>

  <div class='col s12'>
    <p>
      <a href="https://goo.gl/maps/VDQTKHaiX7z" target='_blank'>Map to Location</a>
    </p>
  </div>
</div>
