<h3>Backstory</h3>

<div class='row'>
  <div class='col s4 m2'>
    <img class='responsive-img'
      src='/assets/images/shelly.png'
      title='Shelly J Till'>
  </div>

  <div class='col s12 m10'>
    <p class='flow-text'>
    Shelly J Till spent two decades in financial printing and corporate
    compliance. She is currently completing both a major in Accounting, with
    a focus on tax, and a major in Finance at the University of Minnesota,
    Crookston. She will complete the University's Tax Certificate program in
    early 2017, at which time she will be qualified to sit for the Internal
    Revenue Service's Registered Tax Returns Preparer test. Successful
    completion of this test earns the tax preparer the IRS' highest credential
    of Enrolled Agent and allows them the privilege of representing taxpayers
    before the IRS.
    </p>
    <p class='flow-text'>
    Shell is also a CRLA-Certified University of Minnesota tutor, so can
    discuss your tax forms with clarity. She enjoys tax and intends to further
    her education with a Masters in Business Taxation from the Carlson School
    of Management.
    </p>
    <p class='flow-text'>
    Shelly is currently employed with a prestigious accounting firm in the
    north-eastern metro area doing tax prep and accounting. She plans to use
    her education and experience to better serve the tax and financial needs
    of individuals and small businesses in the underserved north-western metro
    communities.
    </p>
  </div>
</div>
