<div class="row">
  <div class="col s12 m8 offset-m2">
    {{contact-card
      availableRegions=availableRegions
      availableYears=availableYears
      model=model
      onsubmit=(route-action 'doContact')}}
  </div>
</div>

<div class='row'>
  <div class='col s12 m4'>
    <div class='center-align'>
      <h4>{{link-to 'Privacy Policy' 'privacy'}}</h4>
    </div>
  </div>
  <div class='col s12 m4'>
  </div>
  <div class='col s12 m4'>
    <div class='center-align'>
      <h4>{{link-to 'Disclaimer' 'disclaimer'}}</h4>
    </div>
  </div>
</div>
