<div class='row'>
  <div class='col s12'>
    <div class='center logo'>
      <img src="/assets/images/logo.png">
    </div>
    <div class='main-title center'>
      <h1 class='tilltax-title'>TILL TAX</h1>
      <h3 class='tilltax-subtitle'>Accounting & Financial Services LLC</h3>
      <h4 class='tilltax-phone'><a href='tel:7632441017'>763-244-1017</a></h4>
    </div>
  </div>
</div>

<div class='row step-cards'>
  <div class='col s12 m6 l4'>
    {{#md-card title='Step 1 Gather your tax documents'
      image='assets/images/tt-step1.jpg'}}
      <small>
        <span><br /></span>
      </small>
      {{md-card-content}}
    {{/md-card}}
  </div>

  <div class='col s12 m6 l4'>
    {{#md-card title='Step 2 Mail, text, or drop-off documents'
      image='assets/images/tt-step2.jpg'}}
      <small>
        <a href="http://www.freepik.com/free-photos-vectors/business">
          Designed by Pressfoto - Freepik.com
        </a>
      </small>
      {{md-card-content}}
    {{/md-card}}
  </div>

  <div class='col s12 m6 l4'>
    {{#md-card title='Step 3 Review, sign, and e-file your return'
      image='assets/images/tt-step3.png'}}
      <small>
        <a href="http://www.freepik.com/free-photo/letterboxes-in-rows-with-numbers-in-red-envelopes_940788.htm">
          Designed by Freepik
        </a>
      </small>
      {{md-card-content}}
    {{/md-card}}
  </div>
</div>

<div class='row'>
  <div class='col s12 m4 offset-m4'>
    <div class='center-align'>
      {{#link-to 'contact'}}
        {{md-btn text='MEET A TAX PREPARER'
                 buttonType='large'
                 id='contact-button'
        }}
      {{/link-to}}
    </div>
  </div>
</div>
