<div class='row'>
  <div class='col s12'>
    <div class='center logo'>
      <img src="/assets/images/logo.png">
    </div>
    <div class='main-title center'>
      <h1 class='tilltax-title'>TILL TAX</h1>
      <h2 class='tilltax-subtitle'>Accounting & Financial Services LLC</h2>
      <h4 class='tilltax-phone'><a href='tel:7632441017'>763-244-1017</a></h4>
    </div>
    <br />
    <p class='flow-text'><strong>
      For little more than the price of over-the-counter software, that may not
      be asking all the right questions, you can email or deliver your tax
      documents to a professional tax preparer and be sure you're getting all
      the right answers.
    </strong></p>
  </div>
</div>

<div class='row'>
  <div class='col s12 m6 l4'>
    {{#md-card title='Step 1'
      image='assets/images/tt-step1.jpg'}}
      {{#md-card-content}}
        You will be provided with a tax organizer. Simply complete the
        questionnaire and place it, with required tax documents, in the
        pre-addressed envelope provided.
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class='col s12 m6 l4'>
    {{#md-card title='Step 2'
      image='assets/images/tt-step2.jpg'}}
      {{#md-card-content}}
        Send your tax documents via email, post office, or drop them off. It
        has never been easier to get your tax documents to your preparer.
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class='col s12 m6 l4'>
    {{#md-card title='Step 3'
      image='assets/images/tt-step3.png'}}
      {{#md-card-content}}
        Review and sign your completed tax return. The tax preparation fee will
        be due upon signing. Our team will then eFile your return right away.
      {{/md-card-content}}
    {{/md-card}}
  </div>
</div>

<div class='center-align'>
  {{#link-to 'contact'}}
    {{md-btn text='MEET A PREPARER'
      buttonType='large'
      id='contact-button'
    }}
  {{/link-to}}
</div>
