<div class="row title">
  <h3 class="center-align">
    Business description or tag line.
  </h3>
</div>

<div class="container">

</div>


<div class="row">
  <div class="col s12 m6">
    {{#md-card title="Step 1:"}}
      {{#md-card-content}}
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 2:"}}
      {{#md-card-content}}
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 3:"}}
      {{#md-card-content}}
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 4:"}}
      {{#md-card-content}}
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6 offset-m3">
    {{#md-card title="Step 5:"}}
      {{#md-card-content}}
      {{/md-card-content}}
    {{/md-card}}
  </div>
</div>

<div class="center-align">
  {{#link-to 'register'}}
    {{md-btn text='Sign Up'
    buttonType='large'
    class='sign-up'
    }}
  {{/link-to}}
</div>
