<div class="row title">
  <h3 class="center-align">
    <p> What isn&#39;t your tax software telling you?</p>
  </h3>
</div>

<div class="container">
  <p class="flow-text justified-align"> For little more than the price of over-the- counter software, that may not be asking all the right
  questions, you can email or deliver your tax documents to a professional tax preparer and be sure
  you're getting all the right answers.</p>
</div>


<div class="row">
  <div class="col s12 m6">
    {{#md-card title="Step 1:"}}
      {{#md-card-content}}
      You will be provided with a tax organizer. Simply complete the questionnaire and place it, with required tax documents, in the pre-addressed envelope provided.
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 2:"}}
      {{#md-card-content}}
      Send your tax documents via email, post office, or drop off. There are also options to use photo, scan, or courier. It has never been easier to get your tax documents to your preparer.
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 3:"}}
      {{#md-card-content}}
      Review and sign your completed tax return. The tax preparation fee will be due upon signing. Our team will then eFile your return right away.
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <!-- <div class="col s12 m6">
    {{#md-card title="Step 4:"}}
      {{#md-card-content}}

      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6 offset-m3">
    {{#md-card title="Step 5:"}}
      {{#md-card-content}}
      {{/md-card-content}}
    {{/md-card}}
  </div> -->
</div>

<div class="center-align">
  {{#link-to 'register'}}
    {{md-btn text='MEET A PREPARER'
    buttonType='large'
    class='sign-up'
    }}
  {{/link-to}}
</div>
