{{#if (eq model.serviceType 'commercial')}}
  <h4>
    Thank you for your interest in <strong>Till Tax</strong> Financial
    Services. We'll be in touch soon.
  </h4>
{{else}}
  <h2>
    Thank you for your interest in <strong>Till Tax!</strong>
  </h2>
{{/if}}
